<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />

		<title>{{.Title}}</title>

		<style type="text/css">
			@import url("https://unpkg.com/spectre.css/dist/spectre.min.css");
			@import url("https://unpkg.com/spectre.css/dist/spectre-exp.min.css");
			@import url("https://unpkg.com/spectre.css/dist/spectre-icons.min.css");

			@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.8.0/github-markdown.min.css");

			.bg-white {
				background: #ffffff;
			}

			code {
				color: #5764c6;
			}

			ul {
				list-style: url;
			}
		</style>
	</head>
<body class="bg-white">
	<section class="container p-2">
		<div class="columns">
			<div class="column col-6 col-mx-auto">
				<header class="navbar">
					<section class="navbar-section">
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">{{.Title}}</a>
							</li>
						</ul>
					</section>
					<section class="navbar-section">
						<div class="btn-group btn-group-block">
							<button class="btn btn-primary"><i class="icon icon-mail"></i></button>
							<button class="btn btn-primary"><i class="icon icon-download"></i></button>
							<button class="btn btn-primary"><i class="icon icon-edit"></i></button>
							<button class="btn btn-primary"><i class="icon icon-delete"></i></button>
						</div>
					</section>
				</header>
			</div>
		</div>
		<div class="divider pb-2"></div>
		<div class="columns">
			<div class="column col-6 col-xl-8 col-lg-10 col-md-12 col-mx-auto">
				<div class="markdown-body">
				{{.HTML}}
				</div>
			</div>
		</div>
	</section>
</body>
</html>
